* {
    margin: 0;
    padding: 0;
}

:root {
    --grey: #F7F7F7;
    --bright-green: #00BF6F;
    --dark-green: #11403D;
    --white: #ffffff;
    --black: #000000;
}

h2 {
    font-family: "Helvetica Neue";
    font-size: 15px;
}

p {
    font-size: 14px;
    font-family: "Helvetica Neue";
    padding-top: 5px;
    line-height: 21px;
}

header {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    height: 50px;
    padding-left: 50px;
}

.nav-links {
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: var(--black);
}

.nav-list {
    list-style: none;
}

.btn-language {
    background-color: var(--bright-green);
    border-radius: 20px;
    height: 40px;
    width: 80px;
}



.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
    background-color: var(--grey);
    margin-top: 50px;
}

.main-grid-element {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.dining-img {
    width: 100%;
    z-index: 0;
}

.pin-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 40px;
}

.pin-button-icon {
    height: 40px;
}

.div-place-description {
    margin-top: -50px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    background-color: var(--white);
    border-radius: 3px;
}